@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to W@PEnt</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Taking up all the required space memory!!</a>.</p>
</div>
